.articleImg {
  max-width: 100%;
  object-fit: cover;
  max-height: var(--max-banner-img-height);
}

.imgContainer {
  text-align: center;
}

.articleContainer {
  margin: 50px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.articleContainer:first-child {
  margin-top: 0;
}

.articleContainer:last-child {
  border-bottom: none;
}

.article {
  margin-top: 20px;
  cursor: pointer;
}

.title {
  font-size: 22px;
}

.title a{
  text-decoration: none;
  color: black;
}

.description {
  font-size: 18px;
}

.readMore {
  color: var(--light-gray);
  font-size: 12px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  display: block;
}


